@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    scroll-behavior: smooth;
}

svg {
    vertical-align: middle;
}

:root {
    /* --c-primary-color: #e60012;
    --c-secondary-color: #d10000;

    --c-background: #f4f4f4;
    --c-white: #fff;
    --c-black: #000;
    --c-border: #bf0010; */

    --c-primary-color: #AEFF01;
    --c-secondary-color: #4546B2;

    --c-background: #0D0D0D;
    --c-card: #131313;
    --c-text-color: #fff;
    --c-grey: #727272;
    --c-dark-grey: #9191910c;
    --c-footer: #e4e4e4;
}

html {
    background: var(--c-background);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--c-background);
}

.main {
    margin: 72px auto 0 88px;
    width: calc(100% - 88px);
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    padding: 5px;
}